<div class="card m-5 capturarActividad">
    <div class="card-body">
      <div class="header">
        <div class="uno">
          <h5 class="card-title">{{ nombreActividad }}</h5>
          <h6 *ngIf=" prioridadAlta == true " class="card-subtitle ms-2 text-muted">Prioridad Alta</h6>
        </div>
        <div class="dos">
          <div class="botonCirc Editar"></div>
          <div class="botonCirc Duplicar"></div>
          <div class="botonCirc Salir"></div>
        </div>
      </div>
  
      <div class="secSeparador">
        <div class="linea"></div>
        <div class="separadorLabel">Información</div>
      </div>
  
      <div class="infoBlock">
        <div>{{ cliente }} - {{ proyecto }}</div>
        <div>Creada por: {{ autor }}</div>
        <div>Fecha: {{ fecha }}</div>
      </div>
  
      <div class="secSeparador">
        <div class="linea"></div>
        <div class="separadorLabel">Registro de tiempo</div>
      </div>
  
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Inicio"
          aria-label="Inicio"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Fin"
          aria-label="Fin"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Total"
          aria-label="Total"
        />
      </div>

      <div class="temporal">
        <p>{{tiempoInicio}}</p>
        <p>{{tiempoFin}}</p>
        <p>{{hora}} : {{minutos}} : {{segundos}}</p>
      </div>
  
      <div class="secSeparador">
        <div class="linea"></div>
        <div class="separadorLabel">Descripción</div>
      </div>
  
      <div class="input-group">
        <textarea
          class="form-control"
          aria-label="With textarea"
          placeholder="Añadir descripción detallada"
        ></textarea>
      </div>
  
      <div class="secSeparador">
        <div class="linea"></div>
        <div class="separadorLabel">Check List</div>
      </div>
  
      <div *ngFor="let dato of checkList" class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="lista1"
          checked
        />
        <label class="form-check-label" for="lista1">
          {{ checkList[0][0] }}
        </label>
      </div>
      <button type="button" class="btn btn-outline-secondary m">Agregar elemento</button>

  
      <div class="footer">
        <button type="button" class="btn btn-outline-danger">Eliminar Actividad</button>
        <button (click)="start()" type="button" class="btn btn-outline-secondary">{{buttonLabel}}</button>
        <button (click)="stop()" type="button" class="btn btn-outline-success">Detener</button>
        <button type="button" class="btn btn-outline-success">Guardar</button>
      </div>
    </div>
  </div>
  