.temporal{
  display: flex;
  justify-content: space-around;
}

.capturarActividad {
    max-width: 600px;
  }

.inputWrapper{
  display: flex;
}

.inputWrapper .inputBox{
  position: relative;
}

.inputWrapper .inputBox input.first{border-radius: 0.375rem 0 0 0.375rem; border-right: 0;}

.inputWrapper .inputBox input.last{border-radius: 0 0.375rem 0.375rem 0rem; border-left: 0;}

.inputWrapper .inputBox input.mid{border-radius: 0}

.inputWrapper .inputBox input{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.inputWrapper .inputBox span{ 
  position: absolute;
    right: 10px;
    font-size: 15px;
    top: calc(50% - 11px);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e2e7ee;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.footer {
  border-top: 2px solid #e2e7ee;
  padding-top: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

.header .uno {
  display: flex;
  align-items: center;
}

.header .dos {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
}

.header .dos .botonCirc {
  height: 1.2em;
  width: 1.2em;
  background-color: #e2e7ee;
  border-radius: 100%;
}

.secSeparador {
  margin: 8px 0;
  position: relative;
}

.secSeparador .linea {
  position: absolute;
  height: 2px;
  width: 100%;
  top: calc(50% - 2px);
  background-color: #e2e7ee;
}

.secSeparador .separadorLabel {
  color: #76787c;
  position: relative;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  margin-left: 1em;
}
