<!-- Primer Sidenav -->

<mat-sidenav-container fullscreen> 



    <mat-sidenav-content >
        <!-- Segundo Sidenav -->
        <mat-sidenav-container fullscreen>
            
            <!-- Drawer Menu -->
            <mat-sidenav mode="over" #menuDrawer> 
                <app-menu-lateral [pagina]="'actividades'"></app-menu-lateral>
            </mat-sidenav>
            <!-- Drawer Menu -->
            

            <mat-sidenav-content class="bg-princ" >
                
                <mat-toolbar class="userToolbar bg-white">
                    <button mat-icon-button
                            color="primary"
                            (click)="menuDrawer.toggle()">
                        <mat-icon>menu</mat-icon>
                      </button>
                    <div class="userButton">
                        <mat-icon style="font-size: 30px; width: 30px; height: 30px;">account_circle</mat-icon>
                        <span>{{user.name}}</span>
                    </div>
                </mat-toolbar>


                <div class="main-container">

                    <!-- Vista Actividades Asignadas -->
                    <div class="actHeader">
                        <div class="titHeader">Actividades Asignadas</div>
                        <div class="acumuladosWrapp">
                            <div class="acumulado">
                                <div class="tit1">Semana {{ fechaActual | date:'w' }}</div>
                                <div class="tit2">{{ fechaActual | date:'d/MM/yyyy' }}</div>
                            </div>

                        </div>
                    </div>
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tabActividades">
                        <mat-tab label="Semana">
                            <app-semana [rol]="user.rol"></app-semana>
                        </mat-tab>
                        <mat-tab label="Mes">
                            <app-mes></app-mes>
                        </mat-tab>
                    </mat-tab-group>
                    <!-- Vista Actividades Asignadas -->

                </div>
                
            </mat-sidenav-content>

        </mat-sidenav-container>
        <!-- Segundo Sidenav -->
    </mat-sidenav-content>

    <!-- Drawer Captura -->
    <mat-sidenav #drawer mode="over"  position="end" (closedStart)="onClosed()">
        <app-capturarActividad *ngIf="drawerActivo" [onToggled]="onToggled" [rol]="user.rol"></app-capturarActividad>
    </mat-sidenav>
    <!-- Drawer Captura -->

</mat-sidenav-container>

<!-- Primer Sidenav -->