<div class="secSeparador">
    <div class="linea"></div>
    <div class="separadorLabel">Información</div>
</div>

<div class="infoBlock">
    <div>Nombre de actividad: {{actividad.nombre}}</div>
    <div>Cliente: {{actividad.cliente}}</div>
    <div>Proyecto: {{actividad.proyecto}}</div>
    <div>Creada por: {{actividad.autor}} </div>
</div>

<div class="secSeparador">
    <div class="linea"></div>
    <div class="separadorLabel">Copiar en:</div>
</div>

<div class="input-group">
    <input class="form-control" type="date" />
</div>

<div class="footer">
    <button type="button" class="btn btn-outline-danger">Cancelar</button>
    <button type="button" class="btn btn-outline-success">Duplicar Actividad</button>
</div>